.profile{
    border-radius: 10px;
    width: 200px;
}

.pic-position{
    float: right;

}

body{
    font-family: 'Poppins', sans-serif;
}

p{
    width: 50%;
    text-align: center;
}

h1{
    text-align: center;
}

div.relative {
    position: absolute;
    width: 600px;
    height: 200px;
    
    background: blue;
    white-space: nowrap;
  }

div#one, div#two {
    display: inline-block;
    width: 200px;
    height: 50px;
  }
  
  div#one {
    background: red;
  }
  
  div#two {
    background: green;
  }