.profile{
    border-radius: 10px;
    width: 200px;
    float: right;
    position: relative;
}

body{
    font-family: 'Poppins', sans-serif;
}

p{
    width: 50%;
    text-align: center;
}

h1{
    text-align: left;
    padding-left: 50px;
    font-size: 3em;
}

.header{
    float: right;
}

li{
    display: inline;
}

#home{
    background-color: rgb(249, 249, 249);
    clear: both;
    /* background-color: blanchedalmond; */
    width: 100%;
    margin: 0;
}

#name-header{
    display: inline-block;
    width: 50%;
}

